*
{
	outline: none;
}

body
{
	margin: 0 auto;
	background-color: #111;
	
}

header
{
	background: url(../images/fondo.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover; 
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 220px;
	padding-top: 70px;
	margin-top: 0;
}


ul
{
	padding: 10px;
	margin: 0 auto;
	text-align: center;
	margin-right: 40px;
}

ul li
{
	display: inline-block;
	padding: 10px 30px 10px 10px;
}

ul li a
{
	font-size: 15px;
	text-decoration: none;
	color: white;
	display: inline-block;	
	width: 120px;
	font-weight: bold;
	-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}

ul li a:hover
{
	
color: #FF0000;

}
nav
{
	background-color: #090909;
	margin: 0 auto;
	font-family: 'Lato';

}

h1
{
	color: white;
	font-size: 80px;
	font-weight: bold;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 150px;
	text-shadow: 2px 2px black;
	font-family: 'Damion';
}

.login
{
	width: 60px;
	
}
.fa
{
	font-size: 22px;
}

